<html> 
<body> 
    <h3>Salary Prediction</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="experience">Experience</label> 
    <input type="text" id="experience" name="Experience"> 
    
     <br>
     
    <label for="test_score">Test score</label> 
    <input type="text" id="test_score" name="Test score"> 
    
     <br>
     
     <label for="interview_score">Interview score</label> 
    <input type="text" id="interview_score" name="Interview score"> 
    <br>
    
    <br>       
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html>